body {
    background-color: blue;
}

main {
    background-color: white;
}

.cor {
    color: white; 
}

.titulo {
    text-align: center;
}

.centralizar {
    margin: auto;
    display: block;
}

button {
    border: none;
    background-color: blue;
}

h1, p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-align: justify;
}

footer {
    padding-left: 50px;
    padding-right: 50px;
}
