body {
    background-color: rgb(33, 33, 102);
}

main {
    background-color: white;
}

.cor {
    color: white; 
}

.titulo {
    text-align: center;
}

.posicao {
    padding-right: 50px;
}

button {
    border: none;
    background-color:rgb(33, 33, 102);
}

div, h1, h2, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
    padding-left: 50px;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-align: justify;
}

#sizecertificado {
    font-size: 25px;
}

.certificações {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fundobutton {
    background-color: white;
}

#bt-voltar {
    text-align: center;
    margin: 50px 0;
  
}

#bt-voltar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(33, 33, 102);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer {
    padding-left: 50px;
    padding-right: 50px;
}